.table {
  border: 1px solid orange;
  border-radius: 7px;
  background-color: aqua;
}

.table__header {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 2.2fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 2.4rem;
  background-color: red;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
}
